#about {
    width: 90%;
}

#about-top {
    margin-top: 50px;
    background: #01bda4;
}

#top-main {
    width: 90%;
    background: linear-gradient(to right, #007974, #006663);
    height: 500px;
    border-radius: 0% 21% 36% 0% / 10% 85% 0% 10% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-color);
}

#top-main h1 {
    margin: 20px 0 30px 0;
    font-size: 4rem;
}

#top-content {
    margin-left: 50px;
}

#top-main p {
    font-size: 1.3rem;
    width: 764px;
}

#stylish-p {
    font-size: 1.5rem;
    letter-spacing: 3px;
}

#about-article {
    font-size: 1.3rem;
}

#about-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.about-card {
    width: 400px;
    height: 500px;
    border: 0.1px solid rgba(17, 17, 17, 0.3);
    border-top: 10px solid var(--tirtary-color);
    margin: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 95%;
}

.about-card-content h2 {
    margin-bottom: 50px;
}

.about-btn {
    margin-top: 80px;
}

.card-circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: relative;
    border: 1px solid rgba(17, 17, 17, 0.3);
    transform: translate(0px, -45px);
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--tirtary-color);
}

@media only screen and (max-width: 1060px) {
    #top-main p {
        width: auto;
    }
}

@media only screen and (max-width: 900px) {
    #top-main {
        border-radius: 0px;
    }
}

@media only screen and (max-width: 700px) {
    #top-main h1 {
        margin: 10px 0 15px 0;
        font-size: 3rem;
    }
    
    #top-content {
        margin-left: 25px;
    }
    
    #top-main p {
        font-size: 1rem;
    }
    #about-cards {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 510px) {
    #top-main h1 {
        margin: 5px 0 7px 0;
        font-size: 2rem;
    }
    
    #top-content {
        margin-left: 25px;
    }
    
    #top-main p {
        font-size: .8rem;
    }
    article h1 {
        margin: 25px 0;
    }
}

@media only screen and (max-width: 530px) {
    #top-main {
        height: 400px;
    }
    #top-main h1 {
        line-height: 35px;
    }
}

@media only screen and (max-width: 400px) {
    #top-main {
        height: 300px;
    }
    .about-card {
        margin: 20px 10;
    }
}

@media only screen and (max-width: 600px) {
    article h1, h3 {
        line-height: 40px;
    }
    article {
        font-size: 1rem;
    }
}