#all-services {
    background: #def5f0;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#all-services h1 {
    margin: 50px 0;
}

.card {
    margin: 0 20px;
    width: 330px;
}

.card h3 {
    margin: 30px 0 15px 0;
}

#cards {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

#res-img {
    height: 200px;
    background: url(/src/images/residential.jpg);
    background-size: cover;
}
#eme-img {
    height: 200px;
    background: url(/src/images/emergency.jpg);
    background-size: cover;
}
#aut-img {
    height: 200px;
    background: url(/src/images/automotive.jpg);
    background-size: cover;
}
#com-img {
    height: 200px;
    background: url(/src/images/commercial.jpg);
    background-size: cover;
}