#contactus {
}

#contact-main {
    display: flex;
}

#contact-info {
height: 900px;
background: #ffeded;
width: 50%;
display: flex;
align-items: center;
flex-direction: column;
}

#contact-info h2 {
    margin-top: 200px;
    margin-bottom: 50px;
    color: #c20029;
    letter-spacing: 3px;
    font-size: 2.3rem;
}

#contact-info p {
    margin: 25px 0;
}

#contact-info form {
    display: flex;
    flex-direction: column;
}

form {
    width: 80%;
}

form input {
    padding: 18px 30px;
    background: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 30px;
    margin: 20px 0;
    height: 30px;
    font-size: medium;
    letter-spacing: 2px;
}

#contact-btn {
    margin-top: 20px;
}

#lastname {
    margin-left: 20px;
}

#contact-img {
    background: url(/src/images/automotive\ locksmith\ in\ florida.jpg);
    background-size: cover;
    width: 50%;
}

@media only screen and (max-width: 1330px) {
    #lastname {
        margin: 0px;
    }
}

@media only screen and (max-width: 1000px) {
    #contact-info {
        height: 700px;
    }
    #contact-info h2 {
        margin-top: 100px;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 900px) {
    #contact-info {
        width: 100%;
    }
    #contact-img {
        display: none;
    }
    #lastname {
        margin-left: 25px;
    }
}

@media only screen and (max-width: 670px) {
    #lastname {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 450px) {
    #contact-info h2 {
        letter-spacing: 2px;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 360px) {
    #contact-info h2 {
        font-size: 1.5rem;
    }
}