#logo {
    margin-left: 50px;
    font-family: 'DM Serif Display', serif;
    color: var(--tirtary-color);
    font-size: 3rem;
}

#navbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--secondary-color);
}

#navbar ul {
    display: flex;
    margin-left: auto;
}

#navbar ul li {
    border-bottom: 4px solid transparent;
    border-radius: 2px;
    font-size: 1.1rem;
}

#navbar li a:hover {
    color: var(--tirtary-color);
}

#service-ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    border-radius: 2px;
}

#service-ul li {
    padding: 20px 30px;
}

.padding-50 {
    padding: 50px;
}

@media only screen and (max-width: 900px) {
    #navbar ul {
        display: none;
    }
    #logo {
        margin: 50px;
    }
}

@media only screen and (max-width: 500px) {
    #logo {
        font-size: 2.5rem;
        margin: 25px;
    }
}