#res-top-card {
    height: 500px;
    background: #fff7de;
    padding: 50px;
}

#res-top-card p {
    margin: 30px 0;
}

#res-top-img {
    margin-top: 50px;
    height: 400px;
    width: 100%;
    background: url(/src/images/main-img.jpg);
    background-size: cover;
}

@media only screen and (max-width: 625px) {
    #res-top-img {
        height: 300px;
    }
    #res-top-card {
        padding: 25px;
    }
}

@media only screen and (max-width: 625px) {
    #res-top-img {
        height: 300px;
    }
    #res-top-card {
        padding: 25px;
    }
}

@media only screen and (max-width: 400px) {
    #res-top-img {
        height: 200px;
    }
    #res-top-card h1 {
        font-size: 1.5rem;
        line-height: 30px;
    }
    #res-top-card p {
        margin: 15px 0;
    }
}