#service {
    margin: 0 10px;
}

#service-desc {
    width: 60%;
}

#service-desc h1 {
    margin: 30px 0;
}

#service-desc p {
    color: var(--forth-color);
}

.link a {
    text-decoration: none;
    color: #155cff;
    display: inline-block;
    margin: 15px 0;
    border-bottom: 2px solid #155cff;
}

.link a:hover {
    color: #111;
    border-color: #111;
}

#service-cta {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#service-cta p {
    margin-top: 30px;
}

#cta-btn {
    margin-top: 30px;
}

#service-cta img {
    height: 400px;
    width: 600px;
    background-size: cover;
}

#copyright {
    margin-left: 50px;
    width: 400px;
}

#copyright h1 {
    line-height: 40px;
}

@media only screen and (max-width: 1000px) {
    #service-cta img {
      height: 300px;
      width: 450px;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 900px;
    }
    #service-cta img {
        width: 400px;
    }
    #tabs ul li {
        width: 225px;
    }
}