* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fff;
  --secondary-color: #111;
  --tirtary-color: #96151d;
}

::selection {
  color: var(--primary-color);
  background: var(--tirtary-color);
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
  line-height: 30px;
}

a:active{
  background-color: transparent;
}

i {
  margin: 0 5px;
}

/* UTILITY CLASSES */

.remove_list_style {
list-style: none;
}

.remove_link_style {
text-decoration: none;
color: inherit;
}

.trans2s {
transition: .2s ease-in-out;
}

.btn {
  padding: 18px 30px;
  background: var(--secondary-color);
  color: var(--primary-color);
  outline: none;
  border: none;
  font-size: medium;
  border-radius: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  letter-spacing: 2px;
}

.btn:hover {
  background: #717878;
}